$background: #ffffff;
$foreground: #000000;
$cursor: #8e8e8e;

$color0: #6b6b6b;
$color1: #ac4242;
$color2: #75b5aa;
$color3: #90a959;
$color4: #6a9fb5;

* {
  all: unset;
}

.bar,
.tooltip,
.powermenu {
  font-family: "JetbrainsMono Nerd Font";

  background-color: $background;
  color: $foreground;

  border-color: $foreground;
  border-radius: 8px;
  border: 1px solid;

  opacity: 0.9;
}

.bar {
  margin: 0.5rem 1rem;
  padding: 0.1rem;
}

.tooltip {
  padding: 0.25rem 0.5rem;
}

.powermenu {
  font-size: 2rem;

  margin: 1rem;
  padding: 1rem;
}

.icon {
  padding: 0 0.5rem;
}

.workspace {
  .icon {
    color: $color0;
  }

  .icon.active {
    font-weight: bold;
    color: $foreground;
  }
}

.mic {
  .icon.running {
    color: $color1;
  }
}

.battery {
  .icon.critical {
    color: $color1;
  }
}

.shutdown.hover {
  color: $color1;
}

.reboot.hover {
  color: $color3;
}

.suspend.hover {
  color: $color4;
}

.lock.hover {
  color: $color2;
}

.close.hover {
  color: $color0;
}

.tray image {
  -gtk-icon-transform: scale(0.5);
}

scale trough {
  background-color: $cursor;
  border-radius: 4px;
  min-height: 0.3rem;
  min-width: 4rem;
}

scale trough highlight {
  background-color: $foreground;
  border-radius: 4px;
}
