@import "../../.cache/wal/colors.scss";

* {
  all: unset;
  font-family: "JetbrainsMono Nerd Font";
  color: $foreground
}

.box {
  background-color: $background;
  border: 1px solid $color1;
  border-radius: 0.25rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.p-2 {
  padding: 0.5rem;
}

.font-6 {
  font-size: 1.5rem;
}

.color-0 {
  color: $color0;
}

.color-1 {
  color: $color1;
}

.bg-3 {
  background-color: $color3;
}

.bg-4 {
  background-color: $color4;
}

.bg-5 {
  background-color: $color5;
}

.bg-6 {
  background-color: $color6;
}

.bg-11 {
  background-color: $color11;
}

.bg-12 {
  background-color: $color12;
}

.bg-13 {
  background-color: $color13;
}

.bg-14 {
  background-color: $color14;
}

image {
  -gtk-icon-transform: scale(0.5);
}

calendar:selected {
  background-color: $color9;
  color: $color0;
}

calendar:indeterminate {
  color: $color8;
}

scale trough {
  min-height: 0.5rem;
  border-radius: 0.25rem;
  background-color: $color8;

  highlight {
    border-radius: 0.25rem;
    background-color: $color0;
  }
}
