@theme "~/.cache/wal/colors-rofi.rasi"

configuration {
  font: "JetbrainsMono Nerd Font 11";
  terminal: "alacritty";

  drun {
    display-name: "󱈆 ";
  }

  emoji {
    display-name: "󰀖 ";
  }

  ssh {
    display-name: "󰥖 ";
  }
}

// vim: ft=rasi
