* {
  all: unset;
  font-size: 12px;
  font-family: JetBrainsMono NerdFont;
}

#workspaces button {
  padding: 0 5px;
}

.modules-left,
.modules-right {
  padding: 0 5px;
}

@import url("colors.css");
