* {
  all: unset;
}

#waybar>box {
  padding: 2px 4px;
}

tooltip>box {
  color: #000000;
  background-color: #ffffff;

  font-size: 12px;
  font-family: JetBrainsMono;

  opacity: 0.8;
  padding: 2px 6px;
  border-radius: 8px;
}

#clock,
#workspaces {
  color: #000000;
  font-size: 12px;
  font-family: JetBrainsMono;
}

#network,
#battery,
#bluetooth,
#wireplumber {
  color: #000000;
  font-size: 14px;
  font-family: Material Symbols Rounded;
}

#workspaces button {
  color: #444444;
  padding: 0 2px;
}

#workspaces button.active {
  color: #000000;
}
